<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Angular Training</title>
    <script src="node_modules/angular/angular.js"></script>

    <script src="app/app.js"></script>
</head>
<body ng-controller="myCtrl">
   
   {{message | lowercase}}

   {{today| date:'MM dd yyyy'}}

   <!--<div>{{message2}}</div>

   <h1>{{rootProp}}</h1>

   <input type="text" ng-model="message"/>

<div ng-if="showDiv">This div is shown</div>-->


<table border="1">
    <thead>
        <th>Val</th>
        <th>Index</th>
        <th>First</th>
        <th>Last</th>
        <th>Even</th>
        <th>Middle</th>
    </thead>
    <tbody>
        <tr ng-repeat="val in vals">
            <td>{{val}}</td>
            <td>{{$index}}</td>
            <td>{{$first}}</td>
            <td>{{$last}}</td>
            <td>{{$even}}</td>
            <td>{{$middle}}</td>
        </tr>
    </tbody>
</table>




</body>
</html>