<div class="ui form">
    <div class="field">
        <label>Login</label>
        <input type="text" ng-model="user.login" />
    </div>
    <div class="field">
        <label>Name</label>
        <input type="text" ng-model="user.name" />
    </div>
    <div class="field">
        <label>Site_Admin</label>
        <input type="checkbox" ng-model="user.site_admin" />
    </div>

    <div class="field">
        <button class="ui primary button">
           <i class="save icon"></i>
           Save</button>
    </div>
</div>